@model List<tblEvent>
@{
    ViewData["Title"] = "Marketing Subject";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <!-- Mail number search bar -->
    <form method="get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchMailNumber" placeholder="Search Mail Number">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Search Mail Number</button>
            </div>
        </div>
    </form>

    @if (Model != null && Model.Any())
    {
        <h3>Search Results:</h3>
        <div class="table-responsive">
            <table id="dataTable" class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th data-orderable ="true">Mail Number</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Subject</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>